{% extends "base.html" %}

{% block content %}
    <h1>Schedule a New Appointment:</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}
		
        <!-- signed in as {{ user }} <br><br> -->
        
		<form action="/newappointment" method="POST">
			 
            Event Type:<br>
            <select name="eventType">
                <option value="Check up">Check up</option>
                <option value="Procedure">Procedure</option>
                <option value="Emergency">Emergency</option>
                <option value="Meet & Greet">Meet & Greet</option>
                <option value="Other">Other</option>
            </select> <br><br>
            
            Event Name:<br>
            <input type="text" name="eventName" /><br><br>
            
            <input type="hidden" name="eventID" />
            
            <input type="hidden" name="eventResult" value="" />
            
            Animal:<br>
            <select name="animalID">
                {% for animal in animals %}
                <option value="{{ animal.animalID }}">{{ animal.animalName }} ({{ animal.animalBreed }} {{ animal.animalType }})</option>
                {% endfor %}
                <option value="Other">Other</option>
            </select> <br><br>

            Date scheduled for:<br>
            <input type="datetime-local" name="eventCompletedDate" /><br><br>
            
            
			
			<br><br>
			
			<input type="submit" value="Save event"/>
			
		</form>
{% endblock %}