{% extends "base.html" %}

{% block content %}
    <h1>New Event</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}

		
		<form action="/newevent" method="POST">
			 
            Event Type:<br>
            <select name="eventType">
                <option value="Adoption">Adoption</option>
                <option value="Check up">Check up</option>
                <option value="Procedure">Procedure</option>
                <option value="Emergency">Emergency</option>
                <option value="Meet & Greet">Meet & Greet</option>
                <option value="Other">Other</option>
            </select> <br><br>
            
            Event Name:<br>
            <input type="text" name="eventName" /><br><br>
            
            <input type="hidden" name="eventID" />
            
            Event Result:<br>
            <input type="text" name="eventResult" /><br><br>
            
            Animal:<br>
            <select name="animalID">
                {% for animal in al %}
                <option value="{{ animal.animalID }}">{{ animal.animalName }} ({{ animal.animalBreed }} {{ animal.animalType }})</option>
                {% endfor %}
            </select> <br><br>
            
            <!-- <input type="text" name="animalID" /><br><br>
            -->
            
            Date to be completed:<br>
            <input type="datetime-local" name="eventCompletedDate" /><br><br>
            
            
			
			<br><br>
			
			<input type="submit" value="Save event"/>
			
		</form>
{% endblock %}