{% extends "base.html" %}

{% block content %}
    <h1>New event</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}
		
		<form action="/newevent" method="POST">
			 
            Event Type:<br>
            <input type="text" name="eventType" /><br><br>
            
            Event Name:<br>
            <input type="text" name="eventName" /><br><br>
            
            <input type="hidden" name="eventID" />
            
            Event Result:<br>
            <input type="text" name="eventResult" /><br><br>
            
            Animal:<br>
            <input type="text" name="animalID" /><br><br>
            
            Date to be completed:<br>
            <input type="text" name="eventCompletedDate" /><br><br>
            
            Transaction ID #TODO fix this:<br>
            <input type="text" name="transactionID" /><br><br>
            
			
			<br><br>
			
			<input type="submit" value="Save event"/>
			
		</form>
{% endblock %}