<!-- customer facing -->

{% extends "base.html" %}

{% block content %}
    <h1>Adoptable {{ type }}s</h1>

		<table border="1px">
		<tr>
			<td>ID</td>
            <td>name</td>
			<td>type</td>
			<td>breed</td>
            <td>gender</td>
            <td>photo</td>
		</tr>
        {% for animal in animals %}
            <tr>
                <td><a href="viewanimal?animalID={{ animal.animalID }}">{{ animal.animalID }}</a></td>
                <td>{{ animal.animalName }}</td>
                <td>{{ animal.animalType }}</td>
                <td>{{ animal.animalBreed }}</td>
                <td>{{ animal.animalGender }}</td>
                <td><img src={{ animal.animalPhoto }} height="100" width="100"></td>
            </tr>
        {% endfor %}
        </table><br><br>
        
        <a href="pickanimaltype">Back to Animal Type</a><br><br>
        
{% endblock %}