{% extends "base.html" %}

{% block content %}
    <h1>Animals</h1>
		<a href="newanimal">Add new animal</a><br><br>
		<table border="1px">
		<tr>
			<td><b>ID</b></td>
            <td><b>name</b></td>
			<td><b>type</b></td>
			<td><b>breed</b></td>
            <td><b>gender</b></td>
            <td><b>photo</b></td>
		</tr>
        {% for animal in animals %}
            <tr>
                <td><a href="animal?animalID={{ animal.animalID }}">{{ animal.animalID }}</a></td>
                <td>{{ animal.animalName }}</td>
                <td>{{ animal.animalType }}</td>
                <td>{{ animal.animalBreed }}</td>
                <td>{{ animal.animalGender }}</td>
                <td><img src="Toby.jpg"></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}