{% extends "loginbase.html" %}

{% block content %}
    <h1>Login</h1>
	{% if msg %}
      <div id="loginmsg">
	 
		{{ msg }}
	 
	  </div>
    {% endif %}
		
		<form action="login" method="POST">
			
			<br>Email:<br>
			<input type="text" name="email" /><br><br>
			
			Password:<br>
			<input type="password" name="password" /><br><br>
			
			
			<input type="submit" value="Login"/><br><br>
			
		</form>
        
        <a href="/main">Back to Home Page</a><br><br>
        
        <a href="/newusercustomer">Create new account</a>
        
{% endblock %}