{% extends "base.html" %}

{% block content %}
    <h1>New user</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}
		
		<form action="/newusercustomer" method="POST">
			First Name:<br>
			<input type="text" name="userFName" /><br><br>
			
			Last Name:<br>
			<input type="text" name="userLName" /><br><br>
			
			Email:<br>
			<input type="text" name="userEmail" /><br><br>
			
			Password:<br>
			<input type="password" name="userPassword" /><br><br>
			
			Retype Password:<br>
			<input type="password" name="userPassword2" /><br><br>
			
			
			<input type="submit" value="Save user"/>
			
		</form>
{% endblock %}