{% extends "base.html" %}

<!-- transaction -->

{% block content %}
    <h1>Adoption Transaction</h1><br>
    Are you sure you would like to adopt this animal? <br><br>
    
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}
		
		<form action="/newadoptiontransaction?animalID={{ animal.animalID }}" method="POST">
        
            <b>Animal Name: </b>
            {{ animal.animalName }}<br><br>
        
            <b>Animal Type: </b>
            {{ animal.animalType }}<br><br>
            
            <b>Adoption Fee: ${{ fee }}<br><br>
        
            <input type="hidden" name="transactionAmount" value="{{ fee }}" />
            
			<input type="hidden" name="transactionType" value="Adoption" />
            
            <input type="hidden" name="transactionID" value="{{ transaction.transactionID }}" />
			
			
            
			<input type="submit" value="Pay Adoption Fee"/>
			
		</form>
{% endblock %}